<!DOCTYPE html>
<html ng-app="itunes">
<head>
	<title>iTunes Search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>

<div class="container" ng-controller="SongsSearchController as vm">
	<div class="page-header">
		<h1>iTunes Search</h1>
	</div>

	<form class="form-inline" ng-submit="vm.search()">
		<div class="form-group">
			<div class="input-group">
				<input type="search" ng-model="vm.artistSearch" class="form-control" placeholder="Artist">
			</div>
		</div>
		<input type="submit" class="btn btn-primary">
	</form>

	<div class="row">
		<div class="col-md-8">
			<h4>Songs</h4>
			<div>
				<!-- price breakdown here -->
			</div>
			<div>
				<p>Please make a search</p>
				<div>
					<p ng-if="vm.loading" class="loading">Loading ...</p>
					<div ng-repeat="song in vm.songs" class="song">
						<img ng-src="{{song.artworkUrl60}}">
						<h4>{{song.trackName}}</h4>
						<p>Artist: {{song.artistName}}</p>
						<button ng-click="vm.favoriteSong(song)">Favorite</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h4>Previous Searches</h4>
			<div>
				<p>No previous searches</p>
				<ul>
					<!-- previous search list -->
				</ul>
			</div>

			<h4>Favorite Songs</h4>
			<div>
				<p>No favorited songs</p>
				<ul>
					<li ng-repeat="favorite in vm.favorites">
						{{favorite.trackName}} by {{favorite.artistName}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<script src="main.js"></script>

</body>
</html>
